<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/books" routerLinkActive="active" >Books</a>
      <a mat-list-item href="/authors" routerLinkActive="active">Authors</a>
      <a mat-list-item href="/posts" routerLinkActive="active">Posts</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class = "spacer"></span>
      <a class="whitelink" [routerLink]="['/signup']" *ngIf = "!(authservice.user | async)?.uid">Sign Up</a>
    <a class="whitelink" [routerLink]="['/login']" *ngIf = "!(authservice.user | async)?.uid">Login</a>
      <a class ="whitelink" *ngIf = "(authservice.user | async)?.uid" (click) = "authservice.logout()">Logout</a>
  
    </mat-toolbar>
    <router-outlet></router-outlet>
  <!--  <app-books></app-books> -->
    <!-- Add Content Here -->
    
  </mat-sidenav-content>
</mat-sidenav-container>
