<mat-accordion>
  <button mat-raised-button color="primary"  [routerLink]="'/addbook'" >Add Book </button>
    <mat-expansion-panel *ngFor = "let book of books">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      by {{book.author}}   
    </mat-expansion-panel>
  </mat-accordion>