<h3>List of Posts</h3>

<button mat-raised-button color="primary" [routerLink]="['/addpost']">Add New Post</button >

<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of postsData$ | async">
      <mat-expansion-panel-header>
          <mat-panel-title>
            {{post.title}}
          </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-title>
           Post's Body: <br> {{post.body}}
      </mat-panel-title>
            <br>
      <mat-panel-title>
          Post's Author: {{post.author}}
      </mat-panel-title>  
           <br>
             <!--
    <div *ngFor = "let user of user$ | async"> 
      <div *ngIf = "user.id == post.userId">
        <p>by: {{post.author}}</p>
      </div>
    </div>
    -->
    <button mat-raised-button color="warn" (click)=deletePost(post.id)>
      Delete Post
     </button>
     &nbsp;
     <button mat-raised-button color="primary" [routerLink]="'/addpost/' + post.id">
      Edit Post
      </button>
    </mat-expansion-panel>
  </mat-accordion>