<mat-card>
    <h4>Add Post</h4>
    <form #postForm="ngForm"(ngSubmit)="onSubmit()">
      <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Post title" [(ngModel)]= "title"
                                      name="title"> 
          </mat-form-field>
          <br><br>
          <mat-form-field>
            <input matInput placeholder="Post body"  [(ngModel)]= "body"
                                      name="body"> 
            </mat-form-field>
            <br><br>
            <mat-form-field>
              <input matInput placeholder="Post author" [(ngModel)]= "author"
                                          name="author"> 
              </mat-form-field>
      
            <br><br>
            <div>
            <button mat-raised-button color="primary"[disabled]="!postForm.form.valid">{{buttonText}}</button>
           </div>
          </div>
        </form>
      </mat-card>