<p *ngIf = "!(authors$ | async)">Loading...</p>
<mat-selection-list #shoes>
      <mat-list-option *ngFor="let author of authors$ | async">
        {{author}}
      </mat-list-option>
  </mat-selection-list>
  <h4>Add Author</h4>
  <form #addauthor="ngForm"(ngSubmit)="addAuthors(name)">
      <div>
                  <input [(ngModel)]= "name"
                                  name="name"
                                  required 
                                  #temp = "ngModel">
              <p *ngIf="!(temp.valid || temp.pristine)">
                  Author Is Required
              </p>
          

      </div>
          <button mat-raised-button color="primary" [disabled] = "!addauthor.form.valid">Submit</button>
      </form>
    <p>
      Options selected: {{shoes.selectedOptions.selected.length}}
  </p>
